Salesforce Training org/flows/Record_Trigger_Class_After_insert_And_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Here This Decision We Check two Conditions First Check insert and Second Reparent.</description>
        <name>Is_Insertion_Or_Updation_Of_Classes</name>
        <label>Is Insertion Or Updation Of Classes</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insertion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert</targetReference>
            </connector>
            <label>Insertion</label>
        </rules>
        <rules>
            <name>Reaparenting_Of_School</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.School__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reparenting</targetReference>
            </connector>
            <label>Reaparenting Of School ?</label>
        </rules>
    </decisions>
    <description>Class After insert And Update</description>
    <interviewLabel>Record-Trigger : Class After insert And Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger : Class After insert And Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Is_Insertion_Or_Updation_Of_Classes</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Insert</name>
        <label>Insert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Subflow_Class_Handlers</flowName>
        <inputAssignments>
            <name>varB_InsertionCase</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_UpdationCase</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_CurrentNewRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SchoolIds</name>
            <value>
                <elementReference>$Record.School__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reparenting</name>
        <label>Reparenting</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <flowName>Subflow_Class_Handlers</flowName>
        <inputAssignments>
            <name>varB_InsertionCase</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_UpdationCase</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_NewClassSchoolIds</name>
            <value>
                <elementReference>$Record.School__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_OldClassSchoolIds</name>
            <value>
                <elementReference>$Record__Prior.School__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Total Classes Count</description>
        <name>varN_noOfClasses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Here this Varible Store No Of Students Total Count in After Updation case</description>
        <name>varN_NoOfStudentsTotalCountAfterUpdation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Here We are Store Total Student in variable Before Updation</description>
        <name>varN_NoOfStudentsTotalCountBeforeUpdation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Store Total Count After updations</description>
        <name>varN_NoOfTotalContAfterUpdation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Here This variable use to Store Before Updations</description>
        <name>varN_NoOfTotalContBeforeUpdation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
