Salesforce Training org/flows/Record_Triggered_School_before_U.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Here This Assigmnet Collecting Total Count Of Classes</description>
        <name>Set_Of_Only_Total_Classes_Count</name>
        <label>Set Of Only  Total Classes Count</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_Of_Class__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Only_No_Of_Classes_Count</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Here This Assigmnet Collecting Total Count Of Students</description>
        <name>Set_Of_Only_Total_Students_Count</name>
        <label>Set Of Only Total Students Count</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_Of_Student__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Only_No_Of_Students_Count</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Here This Assigmnet Collecting Total Count Of Students</description>
        <name>Set_Of_Total_Students_Count</name>
        <label>Set Of Total Students Count</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_Of_Student__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_No_Of_Students_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Of_Class__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_No_Of_Classes_Count</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>This Decision check Any Change in Both Field</description>
        <name>Is_No_Of_Students_And_No_Of_Classes_Change</name>
        <label>Is No Of Students And No Of Classes Change ?</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_No_Of_Classes_And_No_of_Student_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Of_Class__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_Of_Student__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_No_Of_Classes_Count</targetReference>
            </connector>
            <label>Is No Of Classes And No of Student Change ?</label>
        </rules>
        <rules>
            <name>Is_No_Of_Classes_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Of_Class__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_Of_Student__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Only_No_Of_Classes_Count</targetReference>
            </connector>
            <label>Is No Of Classes Change ?</label>
        </rules>
        <rules>
            <name>Is_No_Of_Students_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Of_Student__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_Of_Class__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Only_No_Of_Students_Count</targetReference>
            </connector>
            <label>Is No Of Students Change ?</label>
        </rules>
    </decisions>
    <description>This Record triggered flow is updating Total Count Of No of students and Classes and Update in before Case</description>
    <interviewLabel>Record-Triggered : School before U {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Triggered : School before U</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query To Get No Of Classes On Class Object</description>
        <name>Get_No_Of_Classes_Count</name>
        <label>Get No Of Classes Count</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_No_Of_Students_Count</targetReference>
        </connector>
        <filters>
            <field>School__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query To Get No Of Students From Student Object</description>
        <name>Get_No_Of_Students_Count</name>
        <label>Get No Of Students Count</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Of_Total_Students_Count</targetReference>
        </connector>
        <filters>
            <field>Custom_School_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom_School_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Student__c</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query To Get No Of Classes On Class Object</description>
        <name>Get_Only_No_Of_Classes_Count</name>
        <label>Get Only No Of Classes Count</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Of_Only_Total_Classes_Count</targetReference>
        </connector>
        <filters>
            <field>School__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query To Get No Of Students From Student Object</description>
        <name>Get_Only_No_Of_Students_Count</name>
        <label>Get Only No Of Students Count</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Of_Only_Total_Students_Count</targetReference>
        </connector>
        <filters>
            <field>Custom_School_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Class__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom_School_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Student__c</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Is_No_Of_Students_And_No_Of_Classes_Change</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>Declare variable of number Datatype to Store Tolat Count of Classes</description>
        <name>varN_NoOfTotalClassesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Declare variable of number Datatype to Store Tolat Count of Students</description>
        <name>varN_NoOfTotalStudentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
