Salesforce Training org/flows/Record_Trigger_contact_insert_Total_count_Of_Salary.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Copy_1_of_set_total_salary</name>
        <label>Copy 1 of set total salary</label>
        <locationX>1018</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varC_TempSalary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Update_Records.Salary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_total_salary</name>
        <label>set total salary</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varC_TempSalary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Contact_Record.Salary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contact_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Set_is_Not_Empty</name>
        <label>Check Set is Not Empty</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Set not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Set_is_Not_Empty</name>
        <label>Copy 1 of Check Set is Not Empty</label>
        <locationX>1224</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Of_Updation_Contact_Field_Is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Of_Updation_Field</targetReference>
            </connector>
            <label>Set Of Updation Contact Field Is not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Record_Insert_Or_Updation</name>
        <label>Does Contact Record Insert Or Updation</label>
        <locationX>994</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insertion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Set_is_Not_Empty</targetReference>
            </connector>
            <label>Insertion</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Set_is_Not_Empty</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Get_Contact_Empty</name>
        <label>is Get Contact Empty ?</label>
        <locationX>1038</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_It_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Of_Updation_Field</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Update_Records</targetReference>
            </connector>
            <label>No It is not Empty</label>
        </rules>
    </decisions>
    <interviewLabel>Record-Trigger : contact insert Total count Of Salary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger : contact insert Total count Of Salary</label>
    <loops>
        <name>Iterate_Contact_Record</name>
        <label>Iterate Contact Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_total_salary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_on_Account_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Update_Records</name>
        <label>Iterate Over Update Records</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Contact_Of_Updation_Field</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_set_total_salary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_on_Account_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Contact_fail_for_create_Error_Record</targetReference>
        </faultConnector>
        <filters>
            <field>Salary__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Here We Will Query Update Salary filed Record Of Contact</description>
        <name>Get_Contact_Of_Updation_Field</name>
        <label>Get Contact Of Updation Field</label>
        <locationX>1038</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Get_Contact_Empty</targetReference>
        </connector>
        <filters>
            <field>Salary__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salary__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_on_Account_Record</name>
        <label>Update on Account Record</label>
        <locationX>994</locationX>
        <locationY>1439</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Updation_fail_for_create_Record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Salary__c</field>
            <value>
                <elementReference>varC_TempSalary</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Does_Contact_Record_Insert_Or_Updation</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Here Whenever Updation Will then this subflow will be execute and Create Records</description>
        <name>Copy_1_of_Updation_fail_for_create_Record</name>
        <label>Copy 1 of Updation fail for create Record</label>
        <locationX>1938</locationX>
        <locationY>1559</locationY>
        <flowName>Subflow_Create_Flow_Exception_Record_By_Platform_Event</flowName>
        <inputAssignments>
            <name>varT_ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Here Whenever Updation Will then this subflow will be execute and Create Records</description>
        <name>Get_Contact_fail_for_create_Error_Record</name>
        <label>Get Contact  fail for create Error Record</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <flowName>Subflow_Create_Flow_Exception_Record_By_Platform_Event</flowName>
        <inputAssignments>
            <name>varT_ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varC_AddTotalCountOfSalaryOnUpdateCase</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varC_TempOnUpdationContact</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varC_TempSalary</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varC_TotalSalary</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_AccountDetailsOnUpdation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_AccountInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>This  variable store account id Of Related Contact</description>
        <name>varT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>That variable store Acccount ids in Update Case</description>
        <name>varT_AccountIdsUpdateCase</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
