Salesforce Training org/flows/Subflow_Create_Flow_Exception_Record_By_Platform_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Hereit Will Debug Fault Message If Any Fault Come During Record Creations</description>
        <name>Debugging</name>
        <label>Debugging Fault Error Message</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Succefully_Created</name>
        <label>Succefully Created</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Succefully Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Here we will throw Error on UI For RollBack Operations</description>
        <name>Throw_Error_For_RollBack_All_operations</name>
        <label>Throw Error For RollBack All operations</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>CustomErrorFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Succefully_Created</targetReference>
        </connector>
        <inputParameters>
            <name>exceptionMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VarT_Elements_Categery</name>
        <label>VarT_Elements_Categery</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insert_Record</targetReference>
        </connector>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <elementReference>varT_Element_Category</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VarT_FaultErrorMessage</name>
        <label>VarT_FaultErrorMessage</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VarT_Elements_Categery</targetReference>
        </connector>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <elementReference>varT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VarT_Flow_Names</name>
        <label>VarT_Flow_Names</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VarT_FaultErrorMessage</targetReference>
        </connector>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <elementReference>VarT_Flow_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VarT_ObjectName</name>
        <label>VarT_ObjectName</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VarT_Flow_Names</targetReference>
        </connector>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <elementReference>varT_ObjectAPIName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>Flow to have the logic that will execute on the Subflow on any Error come Updation and Creation Of Record on any Object. it Will be Create Record in Org.</description>
    <interviewLabel>Subflow :  Create Flow Exception Record By Platform  Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow :  Create Flow Exception Record By Platform  Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Here Will create Error Record By the Help Of Platform Event</description>
        <name>Insert_Record</name>
        <label>Insert Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Throw_Error_For_RollBack_All_operations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debugging</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Element_Category__c</field>
            <value>
                <elementReference>varT_Element_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>varT_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>VarT_Flow_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_API_Name__c</field>
            <value>
                <elementReference>varT_ObjectAPIName</elementReference>
            </value>
        </inputAssignments>
        <object>Create_Flow_Exception_handling__e</object>
    </recordCreates>
    <startElementReference>VarT_ObjectName</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>Here We will Hold Whatever Case Will perform</description>
        <name>varT_Element_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>hi</description>
        <name>varT_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Here We will Hold Flow Operation Name.</description>
        <name>VarT_Flow_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable store object API Name.</description>
        <name>varT_ObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
